absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.2
binaryornot==0.4.4
bleach==6.0.0
blinker==1.5
Brian2==2.5.1
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
colorspacious==1.1.2
comm==0.1.2
contourpy==1.0.7
cookiecutter==2.1.1
coverage==7.1.0
cryptography==39.0.1
cycler==0.11.0
Cython==0.29.33
cytoolz==0.12.0
darkdetect==0.8.0
dask==2023.2.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dipy==1.5.0
docutils==0.19
EDFlib-Python==1.0.6
eeglabio==0.0.2.post3
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
flake8==6.0.0
flatbuffers==23.1.21
flit_core==3.8.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
gast==0.4.0
gmpy2==2.1.2
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5io==0.1.7
h5py==3.8.0
idna==3.4
imagecodecs==2023.1.23
imageio==2.25.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==5.10.2
ipycanvas==0.13.1
ipyevents==2.0.1
ipykernel==6.21.1
ipython==8.10.0
ipython-genutils==0.2.0
ipyvtklink==0.2.3
ipywidgets==7.7.3
jedi==0.18.2
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter_client==8.0.2
jupyter-console==6.5.1
jupyter_core==5.2.0
jupyter-events==0.6.3
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.2
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
llvmlite==0.39.1
locket==1.0.0
loguru==0.6.0
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mffpy==0.8.0
mistune==2.0.5
mne==1.3.0
mne-qt-browser==0.4.0
mpmath==1.2.1
multidict==6.0.4
munkres==1.1.4
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.0
nibabel==5.0.1
nilearn==0.10.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numexpr==2.8.3
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.0
pkgutil_resolve_name==1.3.10
platformdirs==3.0.0
ply==3.11
pooch==1.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
Pygments==2.14.0
PyJWT==2.6.0
pymatreader==0.0.30
pyobjc-core==9.0
pyobjc-framework-Cocoa==9.0
PyOpenGL==3.1.6
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyqtgraph==0.13.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.1
python-json-logger==2.0.6
python-picard==0.7
python-slugify==8.0.0
pytz==2022.7.1
pyu2f==0.1.5
pyvista==0.38.2
pyvistaqt==0.9.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
QDarkStyle==3.1
QtPy==2.3.0
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
scooby==0.7.1
seaborn==0.12.2
Send2Trash==1.8.0
setuptools==67.3.2
sip==6.7.7
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.2
statsmodels==0.13.5
sympy==1.11.1
tables==3.7.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2023.2.3
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.13.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
typing_extensions==4.4.0
unicodedata2==15.0.0
Unidecode==1.3.6
urllib3==1.26.14
vtk==9.2.6
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
wheel==0.38.4
widgetsnbextension==3.6.1
wrapt==1.14.1
wslink==1.10.1
xlrd==2.0.1
xmltodict==0.13.0
yarl==1.8.2
zipp==3.13.0
